<p> Agency Name: <?php echo $this->AGENCY_NAME2; ?></p>
<p> IATA/CLIA: <?php echo $this->IATA2; ?></p>
 <p>First Name: <?php echo $this->FIRSTNAME2; ?></p>
<p> Last Name : <?php echo $this->LASTNAME2; ?></p>
<p> Address : <?php echo $this->ADDRESS2; ?></p>
<p> Street No : <?php echo $this->STREET_NO2; ?></p>
<p> Street Name : <?php echo $this->STREET_NAME2; ?></p>
<p> City : <?php echo $this->CITY2; ?></p>
<p> State : <?php echo $this->STATE2; ?></p>
<p> Zip : <?php echo $this->POSTAL_CODE2; ?></p>
<p> Apt, floor, suit, etc : <?php echo $this->ADDRESS22; ?></p>
<p> Email: <?php echo $this->email2; ?></p>
<p> Primary Phone: <?php echo $this->PRIMARY_PHONE2; ?></p>
<p> Secondary Phone: <?php echo $this->SECONDARY_PHONE2; ?></p>
<p> Italy Brochures: <?php echo $this->ITALY_BROCHURE_QUANTITY2; ?></p>
<p> Egypt Brochures: <?php echo $this->EGYPT_BROCHURE_QUANTITY2; ?></p>
<p> Africa Brochures: <?php echo $this->AFRICA_BROCHURE_QUANTITY2; ?></p>
<p> Mediterranean Brochures: <?php echo $this->MEDITERRANEAN_BROCHURE_QUANTITY2; ?></p>
<p> Latin America & Cuba Brochures: <?php echo $this->LATIN_AMERICA_BROCHURE_QUANTITY2; ?></p>


 
