<p>FIRST NAME: <?php echo $this->FIRSTNAME2; ?></p>
<p>LAST NAME: <?php echo $this->LASTNAME2; ?></p>
<p> EMAIL: <?php echo $this->email2; ?></p>
<p>DESTINATION: <?php echo $this->DESTINATION2 ?> <p></p> 
<p>CAR GROUP: <?php echo $this->CAR_GROUP2 ?> </p>
<p>PICKUP DATE: <?php echo $this->PICKUP_DATE2 ?></p> 
<p>PICKUP TIME: <?php echo $this->PICKUP_TIME2 ?> </p>
<p>PICKUP CITY: <?php echo $this->PICKUP_CITY2 ?> </p>
<p>DROP OFF DATE: <?php echo $this->DROP_OFF_DATE2 ?></p> 
<p>DROP OFF TIME: <?php echo $this->DROP_OFF_TIME2 ?> </p>
<p>DROP OFF CITY: <?php echo $this->DROP_OFF_CITY2 ?> </p>
 

 
