<p> Agency Name: <?php echo $this->AGENCY_NAME2; ?></p>
<p> CONSORTIA: <?php echo $this->CONSORTIA2; ?></p>
<p> IATA/CLIA: <?php echo $this->IATA2; ?></p>
 <p>First Name: <?php echo $this->FIRSTNAME2; ?></p>
<p> Last Name : <?php echo $this->LASTNAME2; ?></p>
<p> Primary Phone: <?php echo $this->PRIMARY_PHONE2; ?></p>
<p> Email: <?php echo $this->email2; ?></p>
<p> Address : <?php echo $this->ADDRESS2; ?></p>
<p> Street No : <?php echo $this->STREET_NO2; ?></p>
<p> Street Name : <?php echo $this->STREET_NAME2; ?></p>
<p> City : <?php echo $this->CITY2; ?></p>
<p> State : <?php echo $this->STATE2; ?></p>
<p> Zip : <?php echo $this->POSTAL_CODE2; ?></p>
<p> Apt, floor, suit, etc : <?php echo $this->ADDRESS22; ?></p>
<p> DESTINATION: <?php echo $this->DESTINATION2; ?></p>
<p> PACKAGE NAME: <?php echo $this->PACKAGE_NAME2; ?></p>
<p> FLIGHT: <?php echo $this->FLIGHT2; ?></p>
<p> DEPARTURE_CITY: <?php echo $this->DEPARTURE_CITY2; ?></p>
<p> TRAVELERS: <?php echo $this->TRAVELERS2; ?></p>
<p> NO-NIGHTS: <?php echo $this->NO_NIGHTS2; ?></p>
<p> ACCOMMODATIONS: <?php echo $this->ACCOMMODATIONS2; ?></p>
<p> BUDGET: <?php echo $this->BUDGET2; ?></p>
<p> <p> REFERENCE: <?php echo $this->HOW_DID_YOU_HEAR_ABOUT_US2; ?></p>
<p> COMMENT: <?php echo $this->COMMENT2; ?></p>


 
